.font1{
	font-style:normal;
	font-family:serif;
	font-weight:lighter;
	font-size:40px;
	
}
.font2{
	font-style:italic;
	font-family:sansserif;
	font-weight:bold;
	font-size:20px;
}
.font3{
	font-style:oblique;
	font-family:monospace;
	font-weight:normal;
}
.font4{
	font-style:oblique;
	font-family:cursive;
	font-weight:bold;
	font-size:30px;
}
.font5{
	font-style:oblique;
	font-family:cursive;
	font-weight:400;
	font-size:30px;
}
.font6{
	font-family: 'Rubik Iso', cursive;
}
body{
	background-color:lightgreen;
}
.no1{
	font-family:cursive;
}



